@model Who.Models.AccountSet
@{
    ViewBag.Title = "3PP Account Assignments";
}
                <div class="display-field">
                @if (Model.Error != null)
                {
                    <p>
                        <div>@Model.Error</div>
                    </p>
                }
                else
                {
                    <div id="account-list">
                        <input class="search" placeholder="Search" />
                        <table>
                            <thead>
                                <tr>
                                    <th>Account</th>
                                    @foreach (var t in Model.Roles)
                                    {
                                    <th>@t</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="list">
                            @foreach (var a in Model.Accounts)
                            {
                                <tr>
                                    <td class="Name">@a.Key</td>
                                    @foreach (var t in Model.Roles)
                                    {
                                        if (a.Value.Managers.ContainsKey(t))
                                        {
                                    <td class="@t">@a.Value.Managers[t].Name</td>
                                        }
                                        else
                                        {
                                    <td class="@t">-</td>
                                        }
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                </div>
                <script src="~/Scripts/list.min.js"></script>
                <script>
                    list = new List('account-list', { valueNames: [ 'Name'@foreach(var t in Model.Roles) { @MvcHtmlString.Create(",'" + t.ToString() + "'"); } ], page: 9999 } );
                </script>
