@model Who.Models.AccountSet
@{
    if (Model == null)
    {
        Response.Redirect("/Regions/Index");
        return;
    }
    ViewBag.RegionName = ": " + Model.RegionName;
    ViewBag.Title = "3PP Account Assignments : " + Model.RegionName;
}
                <script src="~/Scripts/filter.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
                <script src="~/Scripts/html2CSV.js"></script>
                <div class="display-field">
                @if (Model.Error != null)
                {
                    <p>
                        <div>@Model.Error</div>
                    </p>
                }
                else
                {
                    <div id="account-list">
                        <span id="searchspan">
                            <input type="search" data-table="myTable" id="searchbox" class="light-table-filter" placeholder="Loading..." disabled />
                            <script>
                                $('#searchbox').attr('placeholder', 'Loading...');
                            </script>
                        </span>
                        <span class="float-right">
                            <button onclick="doExport()">Export</button>
                        </span>
                        <table class="myTable">
                            <thead>
                                <tr>
                                    <th>Account</th>
                                    @foreach (var t in Model.Roles)
                                    {
                                    <th>@t</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="list">
                            @foreach (var a in Model.Accounts)
                            {
                                <tr class="normal">
                                    <td class="Name"><a href=@Html.AttributeEncode("https://edcrm/PRISM/sfa/accts/edit.aspx?id=%7b" + a.Value.Guid + "%7d")>@a.Key</a></td>
                                    @foreach (var t in Model.Roles)
                                    {
                                        if (a.Value.Managers.ContainsKey(t))
                                        {
                                    <td class="@t">@a.Value.Managers[t].Name</td>
                                        }
                                        else
                                        {
                                    <td class="@t">-</td>
                                        }
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                </div>
                <script>
                    $('#searchbox').attr('placeholder', 'Search...');
                    $('#searchbox').prop('disabled', false);
                    doExport = function () {
                        var blob = new Blob([$('.myTable').table2CSV({ header: ['Name'@foreach(var t in Model.Roles) { @MvcHtmlString.Create(",'" + t.ToString() + "'"); }] })], { type: 'text/csv;charset=utf-8' });
                        window.saveAs(blob, "accounts.csv");
                    }
                </script>
